<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <%= page_header %>
    <title><%=h page_title %></title>
    <%= stylesheet_link_tag '/stylesheets/theme/application.css', :media => 'all' %>
  </head>

  <body>
    <div class="outer-container">
      <div class="inner-container">
        <div class="header">
          <div class="title">
            <h1 class="sitename"><%= link_to this_blog.blog_name, this_blog.base_url %></h1>
            <div class="slogan"><%= this_blog.blog_subtitle %></div>
          </div>
        </div>
        <div class="path">
          <ul>
            <li class="page_item <%= 'current_page_item' if (controller.controller_name == "articles" and controller.action_name == "index") %>">
              <%= link_to _("Úvod"), {:controller => "ivana/ivana", :action => "index"} %>
            </li>
            <li class="page_item <%= 'current_page_item' if (controller.controller_name == "ivana" and controller.action_name == "index") %>">
              <%= link_to _("O mě"), {:controller => "ivana/o_me", :action => "index"} %>
            </li>
            <li class="page_item <%= 'current_page_item' if (controller.controller_name == "articles" and controller.action_name == "index") %>">
              <%= link_to _("Novinky"), articles_url %>
            </li>
       
   
        
          </ul>
        </div>

        <div class="main">
          <div id="content">
            <%= @content_for_layout %>
            <%= javascript_tag 'show_dates_as_local_time()' %>
          </div>

          <div id="sidebar">
            <!-- sidebar components -->
            <%= render_sidebars %>
          </div>
          <br style="clear:both;" />
        </div>

        <div id="footer">
          <div class="left"><%= link_to this_blog.blog_name, this_blog.base_url %></div>
          <div class="right">

          </div>
          <div class="clearer"></div>
        </div>
      </div>
    </div>
  </body>
</html>




